body {
    margin-top: 125px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
	padding: 0 15px;
}

@media(min-width:768px) {
    .navbar-fixed-top .nav {
        padding: 15px 0;
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
#main {
  overflow:auto;
  padding-bottom:150px;
}

.footer {
  position: relative;
  margin-top: 0px;
  height: 0px;
  clear:both;
  padding-top:50px;
} 